<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Пациент</th>
        <th scope="col">Доктор</th>
        <th scope="col">Диагноз</th>
        <th scope="col">Дата обращения</th>
        <th scope="col">Подробнее</th>
        <th scope="col">Изменить</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consult of consultations; index as indexOfelement;">
        <th scope="row" >{{indexOfelement+1}}</th>
        <td>{{consult.patient}}</td>
        <td>{{consult.doctor}}</td>
        <td>{{consult.diagnosis}}</td>
        <td>{{consult.date| date: 'medium'}}</td>
        <td><button class= "btn btn-info" type="button" (mouseenter)="onUpdate(consult)" data-bs-toggle="modal" data-bs-target="#moreModal">Подробнее</button></td>
        <td><button class= "btn btn-warning" type="button" (click)="onUpdate(consult)">Изменить</button></td>
        <td><button class= "btn btn-danger" type="button" (click)="onDelete(consult)">Удалить</button></td>
      </tr>
    </tbody>
  </table>
</div>


<router-outlet></router-outlet>
<app-consultation-details></app-consultation-details>
