{% extends 'base.html' %}

{% block head %}
Консультации
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="justify-content-center mb-4">Все консультации</h1>
    {% if consults|length > 0 %}
        {% for el in consults %}
            <div class="alert alert-light">
                <div class="row">
                    <div class="col-10">
                        <p>{{ el.patient }}</p>
                        <p>{{ el.diagnosis }}</p>
                        <p>{{ el.date.date() }}</p>
                    </div>
                    <div class="btn-group-vertical col" role="group" aria-label="Basic example">
                        <a type="button" class="btn btn-light" href="/consultations/{{ el.id }}">Подробнее</a>
                        <a type="button" class="btn btn-secondary" href="/consultations/{{ el.id }}/update">Изменить</a>
                        <a type="button" class="btn btn-dark" href="/consultations/{{ el.id }}/delete">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Вы пока не посещали врачей</p>
    {% endif %}
</div>
{% endblock %}