{% extends 'base.html' %}

{% block head %}
Консультация
{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-4">
        <div class="row">
            <p class="col-4">Дата приема:</p>
            <small class="col">{{ consult.date.date() }}</small>
        </div>
        <div class="row">
            <p class="col-4">Пацинет:</p>
            <small class="col">{{ consult.patient }}</small>
        </div>
        <div class="alert alert-danger">
            <h3>Основное заболевание:</h3>
            <p>{{ consult.diagnosis }}</p>
        </div>
        <div class="alert alert-primary">
            <h3>Рекомендации:</h3>
            <p>{{ consult.recommendation }}</p>
        </div>
        <div class="row">
            <p class="col-4"><b>Специализация</b>:</p>
            <p class="col">{{ consult.department }}</p>
        </div>
        <div class="row">
            <p class="col-4"><b>Врач</b>:</p>
            <p class="col">{{ consult.doctor }}</p>
        </div>
        <div class="btn-group">
            <a href="/consultations" class="btn btn-light">Назад</a>
            <a type="button" class="btn btn-secondary" href="/consultations/{{ consult.id }}/update">Изменить</a>
            <a type="button" class="btn btn-dark" href="/consultations/{{ consult.id }}/delete">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}