{% extends 'base.html' %}

{% block head %}
<Title>Консультации</Title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Все консультации</h1>

    {% if consults|length > 0 %}

        <div class="list-group">
            {% for el in consults %}
            <a href="/consultations/{{ el.id }}" class="list-group-item list-group-item-action" aria-current="true">
                <p class="mb-1">{{ el.patient }}</p>
                <p>{{ el.diagnosis }}</p>
                <small>{{ el.date.date() }}</small>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Вы пока не посещали врачей</p>
    {% endif %}

</div>
{% endblock %}