{% extends 'base.html' %}

{% block head %}
Добавить
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-4">Добавить консультацию</h1>
    <form method="post">
        <div class="mb-3 input-group">
            <label for="patient" class="input-group-text col-3">Пациент</label>
            <input type="text" name="patient" id="patient" class="form-control">
        </div>
        <div class="mb-3 input-group">
            <label for="diagnosis" class="input-group-text col-3">Основное заболевание</label>
            <input type="text" name="diagnosis" id="diagnosis" class="form-control">
        </div>
        <div class="mb-3 input-group">
            <label for="recommendation" class="input-group-text col-3">Рекомендации</label>
            <textarea type="text" name="recommendation" id="recommendation" class="form-control"></textarea>
        </div>
        <div class="mb-3 input-group">
            <label for="department" class="input-group-text col-3">Специализация</label>
            <input type="text" name="department" id="department" class="form-control">
        </div>
        <div class="mb-3 input-group">
            <label for="doctor" class="input-group-text col-3">Врач</label>
            <input type="text" name="doctor" id="doctor" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark bd-indigo-200">Добавить</button>
    </form>
</div>
{% endblock %}