{% extends 'base.html' %}

{% block head %}
МедКарта
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div>
            <p class="display-3">Главная цель для нас – это восстановление и сохранение Вашего здоровья.</p>
            <p class="blockquote">С учетом текущей мировой ситуации с коронавирусной инфекцией, мы приняли меры по обеспечению наибольшего уровня безопасности при Вашем нахождении в клинике:</p>
            <p class="lead">1. При входе в клинику установлена система обеззараживания воздушного потока Армед. Особенно эффективно использование Армеда во время возникновения опасной эпидемической ситуации. Армед предотвращает распространение таких инфекций, как грипп, ОРЗ, дифтерия, туберкулез, коронавирус и многих других инфекций путем дезинфекции воздуха в помещении.</p>
            <p class="lead">2. Всем пациентам при входе, по требованию, выдается трехслойная одноразовая медицинская маска, которая является механическим защитным барьером на весь период нахождения в клинике.</p>
            <p class="lead">3. В зоне ресепшн размещены дозаторы с антисептиком для рук.</p>
            <p class="lead">4. Медицинский персонал перед началом рабочей смены проходит медицинский осмотр, включающий термометрию.</p>
            <p class="lead">5. Для вашего удобства вы можете скачать объяснительную записку по ссылке и предъявлять ее для проверки.</p>
        </div>
    </div>
{% endblock %}
